kafka:
  output_topic: "fraud_predictions"
  security_protocol: 'SASL_SSL'
  subsample:
    enabled: True
    frac: 0.3

model:
  test_size: 0.2
  seed: 42
  params:
    n_estimators: 300
    learning_rate: 0.05
    max_depth: 5
    subsample: 0.8
    colsample_bytree: 0.8
    scale_pos_weight: 1
    tree_method: "hist"
  path: "../../models/fraud_detection_model.pkl"

spark:
  app_name: "FraudDetectionInference"
  packages: "org.mlflow:mlflow-spark_2.13:3.6.0,com.google.guava:guava:30.5.0-jre,org.apache.spark:spark-sql-kafka-0-10_2.13:4.0.1,org.apache.hadoop:hadoop-aws:3.4.2,com.amazonaws:aws-java-sdk:1.12.793"
  shuffle_partition: 200
  checkpoint_location: 'checkpoints'
