#ray==2.52.0[data,train,tune,serve,default] #pip install -U "ray[data,train,tune,serve,default]"
xgboost-cpu==3.1.3
pyarrow==22.0.0
python-dotenv==1.2.1
numpy==2.3.3
pandas==2.3.3
scikit-learn==1.8.0
torch==2.9.1
mlflow==3.6.0
PyYAML==6.0.3
boto3==1.42.28
